<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head(|Image Board|)}">
</head>
<style>
    .imgBox {
        width: 200px;
        height: 200px;
    }
</style>
<body>
<div class="container">
    <div class="pt-5 text-center">
        <h2>Image Board</h2>
    </div>

    <hr>

    <form th:action="@{/upload}" method="post" enctype="multipart/form-data"
          class="d-flex flex-row justify-content-around">
        <input class="form-control w-50" type="file" accept="image/*" name="file">
        <input class="form-control w-25" type="text" name="viewName" placeholder="제목">
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

<!--    <ul th:each="img : ${images}">-->
<!--        <li>-->
<!--            <label th:for="${img.fileId}" th:text="${img.viewName}"></label>-->
<!--            <div class="imgBox d-flex justify-content-center align-content-center border-1">-->
<!--                <img class="img-fluid" th:src="@{/image/{img}(img=${img.fileId})}" th:id="${img.fileId}">-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->

    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="d-flex flex-column m-3" th:each="img : ${images}">
            <label class="text-center" th:for="${img.fileId}" th:text="${img.viewName}"></label>
            <div class="imgBox d-flex justify-content-center align-content-center border-1">
                <img class="img-fluid" th:src="@{/image/{img}(img=${img.fileId})}" th:id="${img.fileId}">
            </div>
            <button type="button"
                    class="btn btn-primary"
                    th:onclick="|location.href='@{/delete/{fileId}(fileId=${img.fileId})}'|">
                delete
            </button>
        </div>
    </div>

    <div class="w-100 d-flex justify-content-center align-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <span class="page-link"><</span>
                </li>
                <li class="page-item">
                <span class="page-link">
                    1
                </span>
                </li>
                <li class="page-item">
                <span class="page-link">
                    2
                </span>
                </li>
                <li class="page-item">
                <span class="page-link">
                    3
                </span>
                </li>
                <li class="page-item">
                    <span class="page-link">></span>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>